@page "{id:int?}"
@model PlayESLRazor.Pages.CompTeams.DeleteModel

@{
    ViewData["Title"] = "Delete A Competing Team";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Competing Teams</h4>
    <hr style="color: black; background-color:black; height: 1px;" />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompTeam.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompTeam.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CompTeam.EnrollmentDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CompTeam.EnrollmentDate)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="CompTeam.CompTeamId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
