@page
@model AboutModel
@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<p>
    <strong>About:</strong> Basic ESL Play Management of tournaments and competing teams with roles' authorization.<br />
    <strong>Project:</strong> ESL Play with .NET Core 2.1 RazorPages
</p>
