@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
    <strong>Name: Hristo Paul</strong><br />
    <strong>Email:</strong> <a href="mailto:hristopaul@gmail.com">hristopaul@gmail.com</a>
</address>
